*{
    margin: 0px;
}
body{
    background-color: #3515D5;
    transition: all 4.5s;
    height: 100%;
}
h1{
    font-family: 'Engravers Old English';
    text-align: center;
    font-size: 30px;
    color: #e3e3e3;
}
.links{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.nav {
    display: flex;
    border: 3px solid grey;
    text-shadow: 0 0 5px rgb(100, 84, 84);
    height: 35px;
    justify-content: space-evenly;
    align-items:center;
    background-color:  rgba(0, 255, 255, 0.503);
}
.bullet{
    border: 2px solid black;
    border-radius: 20%;
    font-style: oblique;
    font-size: 80%;
    margin-right: 5%;
    opacity: 1;
    background-color: white;
    transform: scale(1.5) ;
    transition: all 1.5s;
    color: rgb(4, 0, 255);
    align-items: center;
    justify-content: space-evenly;
}
.bullet:hover{
    transition: all 1.2s;
    transform: scale(2.2);
    color: black;
    border: 1px solid black;
}
.presentation{
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
}
#img{
    float: left;
    margin: 25px;
    border-radius: 50%;
    border: 2px solid black;
    width: 275px; 
    transition: all 0.8s;
}
#img:hover{
    transition: all 1.0s;
    transform: scale(1.2);
}
h2{
    text-align: center;
    font-size: 25px;
    margin-top:  150px;
    color: #e3e3e3;
}
p{
    word-wrap: break-word;
    font-size: 20px;
    text-align: center;
    color: #e3e3e3;
}
.pdf{
    font-size: 27px;
    text-align: center;
    margin-top: 20px;
}
#info{
    color: red;
}
#pursuit{
    color: red;
}
#instagram{
    color: red;
}
#dance{
    color: red;
}
#blind{
    color: aliceblue;
    text-align: left;
    margin-left: 15px;
}
#cambio{
    background-image: url(images/gif/a2b20cad9728d2ea8fb07e1e0a8b00c8.gif) ;
}
#skills{
    padding: 15px;
    height: 20px;
    margin-left: 45px;
    color: aliceblue;
    font-size: 40px;
    font-style:oblique;
}
.options{
    color: white;
    font-size: 20px;
    margin-left: 45px;
}
.cardAll{
    border-radius: 10%;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    margin-left: 10%;
    padding: 10p
  
}
#camPro{
    /* background-image: url(images/gif/204314074cdff584f32a03e5aac3ebb9.gif) */
    width: 100%;
   
}
.projects{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    color: aliceblue;
    padding: 30px;
    text-align: center;
    align-items: center;
}
#inicio{
    color: white;
    font-size: 30px;
    text-align: center;
    transition: all 0.5s;
}
#inicio:hover{
    transition: all 0.7s;
    transform: scale(2.0) ;
    text-align: center;
    color: rgba(37, 29, 29, 0.767);
}
#present{
    margin-top: 15px;
    color: #e3e3e3;
    font-style: oblique;
    transition: all 0.7s;
}
#present1{
    color: #e3e3e3;
    font-style: oblique;
    margin-top: 70px;
    text-align: center;
}
.tr80{
    display: inline-block;
}
#more{
    border: 1px solid black;
    background-color: rgba(137, 43, 226, 0.712);
    color: black;
    font-size: 15px;
    width: 15%;
    margin-left: 80%;
    margin-top: 50%;
}
#more:hover{
    transition: all 1.5s;
    transform: scale(1.5);
}
#puerto{
    float:right;
    margin-top: 20px;
    height: 250px;
    /* width: 350px; */
    border-radius: 10px;
    /* margin-right: 20px; */
}
#tw-1{
    float: left;
    height: 280px;
    /* width: 470px; */
    border-radius: 15%;
    opacity: 0.7;
    margin-top: 20px;
    margin-left: 2px;
   
}
#tw-1:hover{
    opacity: 1;
    transform: scale(1.5);
    margin-left: 55px;
    height:280px;
    width: 340px;
}
#tw-2{
    height:280px;
    /* width: 470px; */
    border-radius: 15%;
    opacity: 0.7;
    margin-top: 20px;
    margin-right: 20px;  
}
#tw-2:hover{
    margin-top: 80px;
    opacity: 1;
    transform: scale(1.5);
    width: 350px;
}
#present3{
    color:#e3e3e3;
    font-style: oblique;
    margin-top: 20px;
    transition: all 0.7s;
}
#present4{
    color: #e3e3e3;
    font-style: oblique;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: 60px;
    margin-left: 10px;
}
#more1{
    border: 1px solid black;
    background-color: rgba(137, 43, 226, 0.712);
    color: black;
    font-size: 15px;
    width: 15%;
    margin-left: 80%;
    margin-top: 50%;
}
#more1:hover{
    transition: all 1.5s;
    transform: scale(1.5);
}
#puerto1{
    float: right;
    margin-top: 20px;
    margin-left: 10px;
    height: 300px;
    width: 370px;
    border-radius: 10px;
    margin-right: 20px;
}
#sn-1{
    float: left;
    height: 280px;
    width: 470px;
    border-radius: 15%;
    opacity: 0.7;
    margin-top: 20px;
    margin-left: 2px;
}
#sn-1:hover{
    opacity: 1;
    transform: scale(1.5);
    margin-left: 55px;
    height:280px;
    width: 340px;
}
#sn-2{
    height:280px;
    width: 470px;
    border-radius: 15%;
    opacity: 0.7;
    margin-top: 20px;
    margin-right: 20px;  
}
#sn-2:hover{
    margin-top: 80px;
    opacity: 1;
    transform: scale(1.5);
    width: 350px;
}
#pro{
    width: 100%;
}
#form1{
    text-align: center;
    border-radius: 10px;
    margin-top: 2px;
    font-size: 17px; 
    transition: all 1.5s; 
}
.form1{
    margin-top: auto;
    grid-column: 2/3; 
    grid-row: 1/2;
    
}
#form1:hover{
    transition: all 1.0s;
    transform: scale(1.5);
}
#form2{
    text-align: center;
    border-radius: 10px;
    margin-top: 2px;
    font-size: 17px; 
    grid-column: 2/3; 
    grid-row: 3/3;
    transition: all 1.5s;
}
#form2:hover{
    transition: all 1.0s;
    transform: scale(1.5);
}
.form2{
    margin-top: 10px;
    grid-column: 2/3; 
    grid-row: 2/3;
}
#form3{
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
    border-radius: 10px;
    transition: all 1.5s;
}
#form3:hover{
    transition: all 1.0s;
    transform: scale(1.5);
}
.form3{
    grid-column: 2/3; 
    grid-row: 3/4;
}
#form4{
    height: 200px;
    width: 300px;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 15px;
    transition: all 1.5s;
}
#form4:hover{
    transition: all 1.0s;
    transform: scale(1.0);
}
.form4{
    grid-column: 2/3; 
    grid-row: 4/6;
}
#form5{
    border-radius: 10%;
    border: 1px solid rgb(26, 26, 31);
    height: 25px;
    font-size: 15px;
    grid-column: 2/3; 
    grid-row: 6/7;
    margin-top: 15px;
    transition: all 1.5s;
}
#form5:hover{
    transition: all 1.0s;
    transform: scale(1.0);
    background-color: blueviolet;
}

#form6{
    margin-top: 2px;
    font-size: 20px; 
    margin-left: 10px;
    grid-column: 2/3; 
    grid-row: 1/2;
    text-align: center;
    color: #e3e3e3;
}
#Hpage{
    height: 30px; 
    margin-right: 0.5%;
}
.one{
    height: 40px;
    border-radius: 50%;
}
.two{
    height: 40px;
    border-radius: 50%;  
}
.tree{
    height: 40px;
    border-radius: 50%;
}
#tree{
    background-color: rgb(0, 255, 60);
    border-radius: 50%;
    height: 1.8em;
}
#resume{
    padding: 15px;
   text-align: justify;
   font-size: 20px;
   transition: all 3.5s;

}
#resume:hover{
    font-style: oblique;
    font-family: 'Optima Italic';
    font-size: 25px;
    transition: all 6.5s;
    margin-left: 20px;
    margin-right: 0px;
}
#last{
    display: inline-block;
    padding: 10px;
    margin-top: 15px; 
}
#norm{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}
#fellow:hover{
    color: white;

}

@media (max-width:800px) and (min-width: 600px){
    body{
        width: 100%;
    }
    /* #cambio{
        width: 100%;
    }
    #camPro{
        width: 100%;
    }
    #pro{
        width: 100%; 
    } */
    
   
}

@media (orientation: landscape){
    body{
        transition: all 4.5s;
        background-color: rgb(241, 22, 22);
    }
    h1{
        color: blue;
        font-family: 'Engravers Old English';
    }
    p{
        color:black
    }
    h2{
        color:black 
    }
    #info{
        color: blue;
    }
    #pursuit{
        color:blue;
    }
    #instagram{
        color: blue;
    }
    #dance{
        color: blue;
    }
    #present{
        color: black;
    }
    #present1{
        color: black;
    }
    #present3{
        color: black;
    }
    #present4{
        color: black;
    }
    #form6{
        transition: all 1.5s;
        color: black;
        font-size: 25px;
    }
    #form1{
        transition: all 1.5s;
        font-size: 25px;
    }
    #form2{
        transition: all 1.5s;
        font-size: 25px;
    }
    #form3{
        transition: all 1.5s;
        font-size: 25px;
    }
    #form4{
        transition: all 1.5s;
        height: 350px;
        width: 450px;
        font-size: 20px;
    }
    #form5{
        transition: all 1.5s;
        height: 30px;
        font-size: 20px;
    }




    
}